@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700;800&family=Rubik:wght@400;700&display=swap");

*,
*::before,
*::after {
   padding: 0;
   margin: 0;
   border: 0;
   box-sizing: border-box;
}
a {
   text-decoration: none;
}
ul,
ol,
li {
   list-style: none;
}
img {
   vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: inherit;
   font-size: inherit;
}
html,
body {
   height: 100%;
   line-height: 1;
}

.body {
   font-size: Rubik;
   font-size: 12px;
   color: #616161;
}
.wrapper {
   overflow: hidden;
   display: flex;
   flex-direction: column;
   min-height: 100%;
}

.main {
   flex: 1 1 auto;
}

[class*="__container"] {
   max-width: 1087px;
   margin: 0 auto;
   padding: 0 15px;
}

/* PC */
@media (max-width: 1087px) {
   [class*="__container"] {
      max-width: 970px;
   }
}

/* Tablet */
@media (max-width: 991.98px) {
   [class*="__container"] {
      max-width: 750px;
   }
}

/* Mobile */
@media (max-width: 767.98px) {
   [class*="__container"] {
      max-width: none;
   }
}

/* Mobile Small */
@media (max-width: 479.98px) {
}

.header {
   position: absolute;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 50;
}
.header__container {
   display: flex;
   height: 114px;
   align-items: center;
}
.header__logo {
   position: relative;
   z-index: 5;
}
.header__menu {
   flex: 1 1 auto;
}
.menu {
   display: flex;
   justify-content: flex-end;
   /* padding: 0 40px 0 0; */
}
.menu__list {
   display: flex;
   flex-direction: row;
}
.menu__item {
   margin: 0 40px 0 0;
}
.menu__link {
   font-family: Raleway;
   font-style: normal;
   font-weight: bold;
   font-size: 10px;
   line-height: 1.2;
   letter-spacing: 0.14em;
   color: #000000;
   text-decoration: none;
   transition: color 0.3s ease 0s;
}
.menu__link:hover {
   color: #ec5863;
}

.header__button {
   position: relative;
   z-index: 5;
   flex: 0 0 252px;
   display: flex;
   justify-content: flex-end;
   align-items: center;
}
@media (max-width: 991.98px) {
   .header__container {
      height: 80px;
   }
   .menu__item {
      margin: 0 30px 0 0;
   }
   .header__button {
      flex: 0 0 150px;
   }
}
@media (max-width: 767.98px) {
   .menu__body {
      position: fixed;
      top: 0;
      left: 100%;
      width: 100%;
      height: 100%;
      display: flex;
      padding: 80px 15px 30px 15px;
      background-color: #fff;
      transition: left 0.3s ease 0s;
      overflow: auto;
   }
   .menu__list {
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
   .menu__item {
      margin: 0 0 20px 0;
   }
   .menu__item:last-child {
      margin-bottom: 0;
   }
   .menu__link {
      font-size: 20px;
      color: #000;
   }
   .header__button .button {
      padding: 14px 30px;
   }
}

@media (max-width: 479.98px) {
   .header__logo {
      flex: 0 0 40px;
      overflow: hidden;
   }
}

.button {
   display: inline-block;
   font-family: Raleway;
   text-transform: uppercase;
   font-weight: 800;
   font-size: 10px;
   line-height: 1.2;
   letter-spacing: 0.14em;
   color: #fcfdfe;
   border-radius: 5px;
   padding: 14px 30px;
   transition: background-color 0.3s ease 0s;
}
.button-blue:hover {
   background-color: #5390f3;
}
.button-blue {
   background-color: #4285f4;
}
.button-red {
   background-color: #ec5863;
}
.button-red:hover {
   background-color: #e7727a;
}

.icon-menu,
.close-icon-menu {
   display: none;
}

@media (max-width: 767.98px) {
   .icon-menu,
   .close-icon-menu {
      position: relative;
      flex: 0 0 30px;
      height: 18px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 0 0 0 20px;
   }
   .icon-menu::before,
   .icon-menu::after {
      content: "";
      height: 2px;
      background-color: #000000;
   }
   .icon-menu span {
      height: 2px;
      background-color: #000000;
   }
   .close-icon-menu {
      display: none;
   }
   .close-icon-menu::before,
   .close-icon-menu::after {
      content: "";
      height: 2px;
      background-color: #000000;
      transform-origin: 0 0;
   }
   .close-icon-menu::before {
      transform: rotate(45deg);
      margin-top: -2.5px;
   }
   .close-icon-menu::after {
      transform: rotate(-45deg);
      margin-bottom: -2.5px;
   }

   .header:target .menu__body {
      left: 0;
   }
   .header:target .menu__body::before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      height: 80px;
      width: 100%;
      background-color: #fff;
   }
   .header:target .icon-menu {
      display: none;
   }
   .header:target .close-icon-menu {
      display: flex;
   }
}

/* MAIN */

.main {
}
.get-started {
   background-color: #fafbfd;
}
.get-started__container {
   position: relative;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   padding: 150px 15px 50px 15px;
}
.get-started__container::before {
   content: "";
   position: absolute;
   width: 100vw;
   height: 100%;
   right: 267px;
   top: 0;
   background-color: #ec5863;
   border-radius: 30px 0px 0px 30px;
   transform: translate(100%, 0px);
}
.get-started__content {
   flex: 0 1 48%;
   padding: 0 20px;
}
.get-started__block-text {
   max-width: 410px;
}
.button {
}
.button-red {
}
.get-started__video {
   padding: 60px 0 0 20px;
   flex: 1 1 100%;
}
.video-get-started {
   display: inline-flex;
   align-items: center;
}
.video-get-started__icon {
   flex: 0 0 44px;
}
.video-get-started__body {
   padding: 0 0 0 12px;
}
.video-get-started__title {
   font-family: Rubik;
   font-weight: normal;
   font-size: 13px;
   line-height: 126%;
   letter-spacing: 0.08em;
   color: #b0b0b0;
}
.video-get-started__title:not(:last-child) {
   margin-bottom: 5px;
}
.video-get-started__text {
   font-family: Rubik;
   font-weight: normal;
   font-size: 9px;
   line-height: 126%;
   letter-spacing: 0.165em;
   text-transform: uppercase;
   color: #000000;
}
.get-started__image {
   position: relative;
   z-index: 2;
   flex: 0 1 52%;
}
.get-started__image img {
   max-width: 100%;
}

@media (max-width: 991.98px) {
   .get-started__container::before {
      right: 185px;
      border-radius: 20px 0px 0px 20px;
   }
}
@media (max-width: 767.98px) {
   .get-started__container {
      padding: 100px 15px 30px 15px;
   }
   .get-started__container::before {
      display: none;
   }
   .get-started__content {
      padding: 0;
      flex: 1 1 100%;
   }
   .block-text {
      max-width: none;
      text-align: center;
   }
   .get-started__image {
      flex: 1 1 100%;
      text-align: center;
      padding: 30px 0;
   }
   .get-started__video {
      text-align: center;
      padding: 0;
   }
}

/* TEMPLATES */

.block-text {
}
.block-text__title {
   font-family: Rubik;
   font-weight: bold;
   font-size: 44px;
   line-height: 126%;
   color: #000;
}
.block-text__title_blue span {
   color: #4285f4;
}
.block-text__title_pink span {
   color: #ec5863;
}
.block-text__title:not(:last-child) {
   margin: 0 0 12px 0;
}
.block-text__text {
   font-family: Rubik;
   font-weight: normal;
   font-size: 12px;
   line-height: 138.5%;
   letter-spacing: 0.08em;
   color: #616161;
}
.block-text__text:not(:last-child) {
   margin: 0 0 24px 0;
}
.block-text__button {
}
.block-text_center {
   text-align: center;
}
.block-text__text_mw {
   margin: 0 auto;
   max-width: 600px;
}
@media (max-width: 767.98px) {
   .block-text__title {
      font-size: 34px;
   }
}

/* STAY-SAFE */

.stay-safe {
   padding: 80px 0;
}
.stay-safe__container {
   display: flex;
   align-items: center;
}
.stay-safe__media {
   flex: 0 1 50%;
}

.stay-safe__content {
   flex: 0 1 50%;
}
.media-stay-safe {
   position: relative;
   width: 373px;
   padding: 56px 0 27px 0;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.media-stay-safe__image {
   display: inline-block;
   box-shadow: 2px 4px 32px rgba(0, 0, 0, 0.12);
   border-radius: 16px;
   position: relative;
   width: 61.5%;
}
.media-stay-safe__image img {
   z-index: 50;
   max-width: 100%;
}
.media-stay-safe__image::after {
   content: "";
   position: absolute;
   bottom: -12px;
   left: 12px;
   width: 206px;
   height: 27px;
   background: rgba(240, 240, 240, 0.49);
   border-radius: 16px;
   z-index: -1;
}
.media-stay-safe__item {
   position: absolute;
   border-radius: 30px;
   background-color: #ec5863;
   z-index: -2;
}
.media-stay-safe__item1 {
   top: 0;
   left: 0;
   width: 147px;
   height: 147px;
}
.media-stay-safe__item2 {
   left: 33px;
   bottom: 0;
   width: 77px;
   height: 77px;
}
.media-stay-safe__item3 {
   right: 34px;
   bottom: 107px;
   width: 77px;
   height: 77px;
}

@media (min-width: 991.98px) {
   .stay-safe {
      padding: 40px 0;
   }
   .stay-safe__media {
      padding: 0 0 0 47px;
   }
}
@media (max-width: 767.98px) {
   .stay-safe {
      padding: 30px 0;
   }
   .stay-safe__container {
      flex-direction: column-reverse;
   }
   .stay-safe__content {
      margin: 0 0 30px 0;
   }
}
@media (max-width: 479.98px) {
   .media-stay-safe {
      width: 298px;
   }
}

/* EXPERTS */

.experts {
   background-color: #fafbfd;
   padding: 103px 0 116px 0;
}
.experts__container {
}
.experts__statistics {
}
.statistics-experts {
   max-width: 655px;
   margin: 0 auto;
   position: relative;
}
.statistics-experts__body {
   background-color: #fff;
   box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
   border-radius: 16px;
   position: relative;
   z-index: 2;
   margin: 0 0 80px 0;
}
.body-statistics-experts {
   padding: 20px 80px;
   display: flex;
   align-items: center;
   justify-content: space-around;
}
.body-statistics-experts__item {
   flex: 0 1 25%;
   text-align: center;
}
.body-statistics-experts__item:last-child {
   flex: 0 1 50%;
}
.body-statistics-experts__value {
   font-family: Rubik;
   font-weight: bold;
   font-size: 36px;
   line-height: 43px;
   letter-spacing: 0.14em;
   color: #ec5863;
}
.body-statistics-experts__text {
   font-family: Rubik;
   font-weight: bold;
   font-size: 11px;
   line-height: 13px;
   letter-spacing: 0.37em;
   text-transform: uppercase;
   color: #000000;
}
.statistics-experts__decore {
   position: absolute;
   border-radius: 30px;
   background-color: #ec5863;
}
.statistics-experts__decore-1 {
   width: 65px;
   height: 65px;
   transform: rotate(-30deg);
   bottom: -21px;
   left: -21px;
   border-radius: 16px;
}
.statistics-experts__decore-2 {
   width: 97px;
   height: 97px;
   right: 53%;
   top: -40px;
   transform: rotate(20deg);
}
.statistics-experts__decore-3 {
   width: 127px;
   height: 127px;
   right: -50px;
   bottom: -15px;
   transform: rotate(-35deg);
}
.experts__body {
   display: flex;
   align-items: center;
}
.experts__content {
   padding: 0 20px 0 0;
   flex: 0 1 50%;
}
.experts__video {
   position: relative;
   flex: 0 1 50%;
   padding: 0 0 33% 0;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 8px;
   overflow: hidden;
}
.experts__video iframe {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   object-fit: cover;
}
@media (max-width: 767.98px) {
   .experts__body {
      flex-direction: column;
      align-items: stretch;
   }
   .experts__video {
      padding: 0 0 58% 0;
   }
   .experts__content {
      padding: 0;
      margin: 0 0 20px 0;
   }
   .statistics-experts__body {
      margin: 0 0 50px 0;
   }
   .body-statistics-experts {
      padding: 25px;
   }
}

@media (max-width: 479.98px) {
   .body-statistics-experts {
      flex-direction: column;
   }
   .body-statistics-experts__item:not(:last-child) {
      margin: 0 0 15px 0;
   }
}

/* HEALTHCARE */

.healthcare {
   padding: 90px 0 0 0;
}
.healthcare__container {
}
.healthcare__block-text {
   margin: 0 0 45px 0;
}
.healthcare__body {
}
.healthcare__items {
   display: flex;
   flex-direction: row;
   max-width: 980px;
   margin: 0 auto;
   padding: 60px 0;
   gap: 72px;
}
.healthcare__item {
   flex: 0 1 33.333%;
}
.item-healthcare {
   box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
   border-radius: 8px;
   background-color: #fff;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   padding: 35px 17px;
}
.item-healthcare__icon {
   margin: 0 0 58px 0;
}
.item-healthcare__title {
   font-family: Rubik;
   font-weight: bold;
   font-size: 16px;
   line-height: 138.5%;
   text-align: center;
   letter-spacing: 0.08em;
   color: #000000;
}
.item-healthcare__text {
   font-family: Rubik;
   font-weight: normal;
   font-size: 12px;
   line-height: 138.5%;
   text-align: center;
   letter-spacing: 0.08em;
   color: #616161;
}

@media (max-width: 767.98px) {
   .healthcare__items {
      flex-direction: column;
   }
}

/* FOOTER */
.footer {
}
.footer__container {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}
.footer__item {
   margin: 60px 30px;
}
